[window]
dimensions = { columns = 80, lines = 24 }
title = "Terminal"
option_as_alt = "Both" # passes through option key to the terminal; necessary for zellij!
decorations = "Buttonless"
padding = { x = 3, y = 3 }
dynamic_padding = true

[selection]
save_to_clipboard = true

[font]
size = 12
normal = { family = "Hack Nerd Font Mono", style = "Regular" }

# Gruvbox Dark colorscheme
[colors.primary]
# hard contrast background = = '#1d2021'
background = '#282828'
# soft contrast background = = '#32302f'
foreground = '#ebdbb2'

[colors.normal]
black   = '#282828'
red     = '#cc241d'
green   = '#98971a'
yellow  = '#d79921'
blue    = '#458588'
magenta = '#b16286'
cyan    = '#689d6a'
white   = '#a89984'

[colors.bright]
black   = '#928374'
red     = '#fb4934'
green   = '#b8bb26'
yellow  = '#fabd2f'
blue    = '#83a598'
magenta = '#d3869b'
cyan    = '#8ec07c'
white   = '#ebdbb2'

# Keybindings because why not
[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Equals"
mods = "Control"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Minus"
mods = "Control"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "0"
mods = "Control"

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "n"
mods = "Control"

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "n"
mods = "Command"
